<html>
<head><title>Hello from Ansible!!</title><head>
<body>
<h1>Congratulations!</h1>
<p>Nice job {{ username }}!! You have succesfully ran your first playbook! Woohoo! Now get yourself a drink to celebrate!</p>
</body>